<style>
    table {
        border-collapse: separate;
        border-spacing: 50px 0;
        align-content: center;
        align-self: center;
    }
    td {
        padding: 10px 0;
    }

    h2{
        padding: 10px;
    }
</style>

<section>
    <h3 align="center" class= "card-header bg-primary text-white">Liste des utilisateurs</h3>
    <table align="center" id="tableUsers">
        <thead align="center">
            <tr>
                <th>Id</th>
                <th>Date inscription</th>
                <th>Email</th>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersList" (click)="onSelect(user)" [class.selected]="user ===selectedUser">
                <td>{{user.id}}</td>
                <td>{{user.date_inscription | date:'MM/dd/yyyy'}}</td>
                <td>{{user.email}}</td>
                <td>{{user.username}}</td>
                <td>
                    <button class = "btn btn-warning my-round-btn" value="Supprimer" (click)="deleteUser()" >
                        <i class="fa fa-trash"></i>
                    </button>
                    &nbsp;
                    <button class = "btn btn-success my-round-btn" value="Modifier" (click)="infoUser()" >
                        <i class="fa fa-info"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        
    </table>

    <!-- <div class="alert alert-danger alert-dismissible fade show">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        {{msg}} //mettre en disabled //
     </div> -->

     <h3 align="center" class= "card-header bg-secondary text-primary">Actualités</h3>

    

</section>

