<div class="limiter">
    <div class="container-login100" style="background-color: grey;">
      <div class="wrap-login100">
      <form
        class="login100-form validate-form"
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <span class="login100-form-title p-b-34 p-t-27">
        Connexion
      </span>
      <br>
        <div class="wrap-input100 validate-input" >
          <mat-label for="username"><span class="fa fa-envelope"></span>Username</mat-label>
          
          
            
          
          <input
            type="text"
            class="input100"
            name="username"
            placeholder="Username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && username.invalid"
          >
            Veuillez saisir votre identifiant
          </div>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe </label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && password.invalid"
          >
            <mat-error *ngIf="password.errors.required">Veuillez saisir votre mot de passe</mat-error>
            
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Se connecter
          </button>
        </div>

        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Connexion echouée: {{ errorMessage }}
          </div>
        </div>
      </form>
  <!-- Faire une redirection vers les tableaux de bord de chaque utilisateur -->
      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as {{ roles }}.
      </div>
    </div>
    </div>
  </div>
