<!-- <p >
    {{arrondissement.arrondissement}}
    {{arrondissement._id}}
    {{arrondissement.note_globale}}/10
<br>
    {{arrondissement.liste_commentaires[0].commentsBy}}
    <br>
    {{arrondissement.liste_commentaires[1].commentsBy}}
    <br>
    {{arrondissement.liste_commentaires[2].commentsBy}}
</p> -->
<h1 mat-dialog-title class="card header">Details arrondissement</h1>
<div mat-dialog-content>
    <img src="{{data.photo_arrondissement}}" alt="">
    <br>
    {{data._id}}
    <br>
    {{data.arrondissement}}
    <br>
    <!-- {{data.commentaires}} -->
    <!-- {{data.liste_commentaires[0].commentsBy}} -->
    <input type="textarea">
    <ul>
        <li *ngFor="let liste_commentaires of data.liste_commentaires; let i=index">
            {{data.liste_commentaires[i].commentsBy}}
            {{data.liste_commentaires[i].commentsAt}}
            {{data.liste_commentaires[i].positive_comments}}
            {{data.liste_commentaires[i].negative_comments}}
            {{data.liste_commentaires[i].rating_given_comments}}
        </li>
        
    </ul>
    

</div>