<div id="app">
  <div id="header">
  <nav class="navbar navbar-expand">
    <div id="logovivreparis">
      <img src="https://img-vivre-paris.s3.eu-central-1.amazonaws.com/logoVp.png" alt="LogoVp">
  </div>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Accueil</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
      <li class="nav-item">
        <a href="/favori" class="nav-link" *ngIf="isLoggedIn" routerLink="favori">Favori</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">S'inscrire</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Se connecter</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <!-- class="nav-link username text-primary" -->
        <a href="/profile" class="nav-link" routerLink="profile"><i class="fa fa-user"></i>&nbsp;&#160;{{ username }}</a>
      </li>
      <li class="nav-item">
        
        <a href class="nav-link" (click)="logout()">Deconnexion</a>
      </li>
    </ul>
  </nav>
</div>

  <div class="container">
    <!-- je suis le container sur app.compon  -->
    <router-outlet></router-outlet>
  </div>
</div>