#header{
    background-image:  url("../assets/headercolor.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    /*padding: 50px;*/
    // margin-top: 0px;
     position: fixed;
     top: -1%;
     left: auto;
     width: 100%;
     z-index: 1000;
     margin-bottom: 50px;
}

img {
    width: 270px;
	height: auto;
}

.nav-item:active{
        /* background: border-box; */
    /* border-bottom-color: black; */
    padding: 5px 0px 5px 0px;
    border: black;
    /* background-color: white; */
    /* border-color: black; */
    /* border-radius: 50px; */
    /* border: thick; */
    border-bottom: solid;
    border-top: solid;
    //box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);

}

 .nav-link{
     // color: white;
     text-shadow: 2px 2px 0 rgba(0,0,0,.35), 2px 2px 5px rgba(0,0,0,.5);
     font-size: large;
 }

 .nav-link:hover{
    text-shadow: 2px 2px 0 rgba(0,0,0,0.35), 50px 50px 100px rgba(0,0,0,.5);
}

a{
    color: white;
}

.username {
    font-weight: bolder;
    background-color: whitesmoke;
    border-radius: 5px;
}

 @media(min-width:1000px){


 .container {
     max-width: 1500px;
     //background-color:rgb(245, 245, 245);
 }
 }

 .container{
    transform: translateY(4.5%);
 }
