<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        <strong>{{ currentUser.username }}</strong> Profile
      </h3>
    </header>
    <p>
      <strong>Token:</strong>
      {{ currentUser.accessToken.substring(0, 20) }} ...
      {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
    </p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <strong>Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <form role="form" #formUser="ngForm" (mouseenter)="onFormInit()"
        method="POST"  id="formUser" class="form-horizontal">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" [(ngModel)]="currentUser.email" class="form-control" required>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!formUser.form.valid"
          (click)=updateUser()>Modifier</button>
        </form>
      </div>
    </div>
    </div>




  
  <ng-template #loggedOut>
    Please login.
  </ng-template>
