<div class="container">
  <header class="">
    <p>{{ content }}</p>
  </header>
</div>
<marquee class="text-defile">Pour suivre l'evolution des notations des arrondissements, poster un commentaire, noter un arrondissement... INSCRIVEZ-VOUS !</marquee>

  <!-- <h4>Arrondissements</h4> -->
  
  <div class="titre-page-home"> Classements des arrondissements de la ville de P
   <img src="https://img-vivre-paris.s3.eu-central-1.amazonaws.com/a-Toureiffel.png" height="120px" width="60px"/>ris
  </div>
  <br>
  <!-- <img src="../../assets/carte-arrondissements.jpg" alt="carte arrondissements de Paris" class="img-carte-arrondissements"> -->
  <p class="presentation-site">Faire un petit paragraphe a propos du type : Il s'agit de notations laissées par des habitants des arrondissemnts ou ayant habité dans l'arrondissement.
   <br> Vous souhaitez habiter dans Paris mais vous ne savez pas quel arrondissemnt choisir... Vivre Paris vous permettra de vous aiguiller....
  </p> 
  <hr>

  <!-- <form (ngSubmit)="getArrondissementByIdBis(f)" #f="ngForm">
    <input type="text" id="arrByID" name="arrByID" placeholder="Numéro de l'arrondissement recherché" ngModel>
    <button class="btn-search btn btn-primary" type="submit"> Rechercher</button>

      {{ arrByID}}
      {{ selectedArrondissement._id}}
      {{ selectedArrondissement.arrondissement}}
  
  </form> -->
Classer par : 
<button (click)="getArrondissements()">Ordre croissant des nb</button>
<button (click)="getArrondissementsByNoteGeneraleDecroissante()">Note générale</button> 
<ul class="grid-view">
    <li
      class=" group-item grid-view-arrondissement"
      *ngFor="let arrondissement of arrondissements; let i=index" (click)="onSelect(arrondissement)"
    >
    <span class="numero-classement">#{{i + 1}}</span>
    <!-- {{ arrondissement._id}} -->
    <div class="text-sur-photo">
    <div class="text-nom-arrondissement">{{ arrondissement.arrondissement}}</div>
    <span class="text-note-globale">{{arrondissement.note_globale}}/10</span>
  </div>

      <img src ="{{arrondissement.photo_arrondissement}}" alt="photo_arrondissement" class = "photo-arrondissement"
               />
               <br>

  <div class="action">
    <span class="label-note-securite">  👮 Securité </span>&nbsp;<br>
    <span class="rating-main-score rating r5">
      <span class="filling">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </span>
    </span>
    <span class="label-note-environnement">⭐️ Santé </span>&nbsp;

    

  </div>





               




      <a mat-button  (click)="getArrondissementById()" value="{{ arrondissement._id}}">Détails > </a>
    </li>
  </ul>
      
      






      
      
      
      
      
      
      
      
      
      
      
      <!-- {{ arrondissement.liste_commentaires[0].commentsBy}}
      {{ arrondissement.liste_commentaires[1].commentsBy}} -->
    
  
