.grid-view {
    //display: table-caption;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.grid-view-arrondissement{
    display: inline;
}

.grid-view-arrondissement:hover{
    //box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
    border: none;
}

.list-group-item{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.group-item{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.btn-search{
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.3);
    border: none;
}

.numero-classement{
    text-shadow: 1px 1px 0 rgba(0,0,0,.35), 1px 1px 5px rgba(0,0,0,.5);
    font-size: 16px;
}

.text-sur-photo{
    position: relative;
    top: 53%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    padding-left: 1.8em;
    padding-right: 1.8em;
    text-shadow: 1px 1px 0 rgba(0,0,0,.35), 1px 1px 5px rgba(0,0,0,.5);
    color: white;
    z-index:3;
}


.text-nom-arrondissement{
    font-size: 14px;
    //line-height: 0.5;
    font-weight:800;
}

.text-note-globale{
    font-weight:800;
    font-size: 16px;
}

.photo-arrondissement{
     height: 200px;
     width: 280px;
     border-radius: 0.8em;
     object-fit: cover;
     opacity: 0.6;

}

.photo-arrondissement:hover{
    opacity: 1;
   
}

.img-carte-arrondissements{
    max-width: 32%;
	height: auto;
}

hr{
    transition-property: width; /* Je défini ce sur quoi je veux faire le changement */
    transition-duration: 1s; /* La transition durera 1 seconde. */
}

.titre-page-home{
    margin-top: 20px;;
    font-size: 65px;
    //font: outline;
    text-align: center;
    color: grey;
    font-weight: bolder ;
    font-family: 'AlexBrush', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    //float: right;
    //-webkit-box-reflect: below -5px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.3)));  
}

.action{
    position: relative;
    z-index: 6;
    //left: 0;
    top:-50%;
    height: auto;
    transform: translateY(-50%);
    opacity: 1;// a mettre à zéro à la fin
    //padding: 1em;
    //padding-top: 1.5em;
}

.label-note-securite{
    float: left;
}

.rating{
    float: right;
    width: 40%;
    background-color: rgba(255,255,255,.1);
}

.r5{
    border-color: #2bde73;
    color: #2bde73;
}

.presentation-site{
    margin-top: 30px;
    font-style: italic;
    text-align: center;
    font-size: 15px;;
}

@font-face {
    font-family: 'AlexBrush';
    src: url('AlexBrush-Regular.ttf');
}