.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
  }

.container-form{
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
    background-image: url("../../assets/paris-fond-form.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1; 
}

.container-form::before{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.85);
}

h2{
  text-align: center;
}

.wrap-form{
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    background: white;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.3);

}

.btn-block{
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.3);
  border-radius: 10px;
  width: 50%;
  margin-left: 90px;

}