<div class="container-form">
<div class="col-md-5 offset-md-1">
    <div class="wrap-form">
      
      <form
        class="example-form"
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <h2>Formulaire d'inscription</h2>
      <mat-form-field class="example-full-width">
          <mat-label for="username">Pseudo</mat-label>
          <input matInput [(ngModel)]="form.username" placeholder = "Pseudo"
            type="text"
            name="username"
            id="username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          />
          <mat-error *ngIf="f.submitted && username.invalid">
            <mat-error *ngIf="username.errors.required">Ce champ est requis</mat-error>
            <mat-error *ngIf="username.errors.minlength">
              Le pseudo doit contenir au minimum 3 caractères
            </mat-error>
            <mat-error *ngIf="username.errors.maxlength">
              Le pseudo ne doit pas dépasser 20 caracères
            </mat-error>
          </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label for="email">Email</mat-label>
          <input matInput
          placeholder = "Email"
            type="email"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <mat-error *ngIf="f.submitted && email.invalid">
            <mat-error *ngIf="email.errors.required">Le champ Email est requis</mat-error>
            <mat-error *ngIf="email.errors.email">Le champ n'est pas valide</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label for="password">Mot de passe</mat-label>
          <input matInput
            type="password"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />

          

          <mat-error *ngIf="f.submitted && password.invalid">
            <mat-error *ngIf="password.errors.required">Ce champ est requis</mat-error>
            <mat-error *ngIf="password.errors.minlength">
              Le mot de passe doit contenir au moins 6 caractères.
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
        <mat-label for="confirm-password"> Confirmez le mot de passe</mat-label>
          <input matInput
            type="password"
            name="confirm-password"
          />
        </mat-form-field>

        <div class="form-group">
          <button class="btn btn-primary btn-block">S'inscrire</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Votre inscription a échoué !<br />{{ errorMessage }}
        </div>
      
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Votre inscription a été pris en compte !
      </div>
    </div>
  </div>
</div>
